:8080 {
    @5000 {
        path /weather
    }
    reverse_proxy @5000 127.0.0.1:5000
    @5001 {
        path /weather-auto
    }
    reverse_proxy @5001 127.0.0.1:5001
    @16686 {
        path /jaeger/*
    }
    reverse_proxy @16686 127.0.0.1:16686
}